body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.asd-list > p {
  color: red;
}

.todoWrapper {
  width: 300px;
  margin: 0 auto;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}
.todoItem {
  display: flex;
  justify-content: space-between;
  margin: 4px 0;
}
.todoItem button {
  margin: 2px;
  width: 70px;
}

.filterWrapper {
  margin: 8px;
}

.filterWrapper button {
  margin: 4px;
}
